<div class="container py-4">
  <div class="col-md-6 mx-auto">
    <div class="card">
      <div class="card-body">
        <h2 class="mb-4 text-center">URL Shorten App</h2>
        <form>
          <!-- app.component.html -->
          <div>
            <input
              type="text"
              name="url"
              [(ngModel)]="originalUrl"
              placeholder="Enter URL to shorten"
              class="form-control mb-2"
            />
            <button (click)="shortenUrl()" class="btn btn-primary">
              Shorten
            </button>
          </div>
          <div *ngIf="shortenedUrl">
            Shortened URL:
            <a href="{{ shortenedUrl }}" target="_blank">{{ shortenedUrl }}</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
